/* LightGal element styles */

/* Used to fade out images */
.lg_hidden{
    opacity: 0;
}

#lg_thumbs{
    /*width: 100%;*/
    text-align: center;
    overflow: hidden;
}

/* Used for thumbnail cursor */
#lg_thumbs img{
    cursor: pointer;
    opacity: 0.7;
}

#lg_thumbs img:hover{
    opacity: 1;
}